* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 h2 p {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.initial-content-container{
    /* border: solid red; */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial-content{
    background-color: white;
    border-radius: 60px;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Página: Quem somos */
#container-quem-somos {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(203 213 225);
    border-radius: 10px;
    height: auto;
    width: auto;
    gap: 10px;
}

#desenvolvedores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}

#person-1, #person-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
